@{
    ViewBag.Title = "About";
}
<h2>Ціль Проекту</h2>

<p>Ціль цього проекту полягає в навчанні людей робити правильний вибір в совєму житті. Ознайомити їх з теорією та деякими стандартними задачами. Розробити та показати алгоритм прийняття рішення, бо кожне наше рішення - це математична задача з вибору серед множин альтернатив.</p>
