@{
    ViewBag.Title = "Home Page";
}

<h2>Актуальність вибору в нашому житті</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>
        Ефективне прийняття рішень – одна з найбільш важливих умов ефективного виконання роботи підприємства. Важливість процесу прийняття рішень була усвідомлена людством одночасно з початком його свідомої колективної діяльності.
        Практичний посібник з’явився тоді, коли виникла організація. Однак організації  в давнину багато в чому відрізнялися від сучасних організацій. Основна відмінність старих організацій від сучасних – це мала кількість великих підприємств, невелика кількість керівників, практична відсутність керівників середньої ланки. Керівні пости організації передавалися у спадок або їх захоплювали силою. Старим організаціям властива мала кількість людей, яким дано право приймати важливі для організації рішення.
        Сучасні організації відрізняються від старих наявністю великого числа  гігантських організацій. У цих організаціях присутня велика кількість керівників вищої та середньої управлінської ланки. Професійним обов’язком кожного керівника є прийняття рішень відповідно до делегованих йому повноважень. Діяльність сучасної організації відрізняє наявність великої кількості фахівців, які не є керівниками, але мають право відповідно до делегованих їм повноваженням приймати важливі для організації рішення.
        Предметом самостійного вивчення «управлінські рішення» стали займатися після виникнення науки про управління, яка як самостійна дисципліна виникла на початку ХХ століття. У 50-60 рр. ХХ століття склалися засади теорії прийняття рішень, яка згодом була переосмислена і сформульована у вигляді декількох наукових дисциплін (дослідження операцій, системний аналіз, управління технічними системами і т.д.). У кожну з цих дисциплін як складова частина входила теорія прийняття рішень, що носить міждисциплінарний характер.
    </p>
</body>
</html>