
@{
    ViewBag.Title = "GetHumans";
}

<form method="post">
    <p>Введите Пол</p>
    <input type="text" name="Sex" />
    <p>Введите Профессию</p>
    <input type="text" name="Profession" />
    <p>Введите Дополнительную информацию</p>
    <input type="text" name="SubProperty" />
    <input type="submit" value="Отправить" />
</form>

