@model RationalityIntro.Models.Human
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Update</h2>
@using (Html.BeginForm("Update", "Human", FormMethod.Post))
{
    @Html.Partial("Partials/_DisplayTextBox")

    <input type="submit" name="Добавить" />
}



